header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background:transparent;
    transition: all ease 0.5s;
}

header.black{
    background-color: #141414;
}

.header-logo{
    height: 1.8rem;
    display: flex;
    align-items: center;
}

.header-logo img{
    height: 100%;
}

.nav-menu{
    margin-left: 1.25rem;
}

.nav-menu ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.nav-menu li{
    display: inline;
    margin-right: 1.25rem;
    cursor: pointer;
}

.nav-menu li a{
    text-decoration: none;
    color: inherit;
}

.nav-menu li a:hover{
    opacity: 0.7;
}

.nav-menu a.inactive {
    opacity: 0.7;
  }

.nav-menu li:last-child {
    margin-right: 0;
}

/* Menu suspenso */
.header-user {
    height: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.header-user img {
    height: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
}


.user-menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer; /* Adiciona o cursor pointer ao ícone */
    margin-left: 0.5rem; /* Espaço entre o ícone e a seta */
}

.user-menu-icon svg {
    color: #fff; /* Cor do ícone */
    font-size: 2rem; /* Tamanho do ícone */
}

.user-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%; /* Posiciona abaixo do ícone de perfil */
    right: 0;
    background-color: #333; /* Cor de fundo escura */
    border: 1px solid #444; /* Borda mais escura */
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    min-width: 8rem; 
    padding: 0.5rem 0;
    opacity: 0; /* Inicialmente escondido */
    visibility: hidden; /* Inicialmente escondido */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transição suave */
}

.user-menu.show {
    opacity: 1;
    visibility: visible;
}

.user-menu-item {
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #fff; /* Cor do texto branca */
    display: block;
    border-bottom: 1px solid #444; /* Borda inferior mais escura */
    cursor: pointer; /* Cursor pointer */
    text-align: center; /* Alinha o texto ao centro horizontalmente */
}

.user-menu-item:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

.user-menu-item:last-child {
    border-bottom: none;
}

.header-user img{
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.header-search {
    display: flex;
    align-items: center;
    border: 0.0625rem solid #fff; 
    border-radius: 0.25rem; 
    background-color: #000;
    padding: 0.2rem 0.5rem;
    max-width: 25rem; 
    color: #fff;
    margin: 0 1.25rem; 
  }
  
  .header-search .search-icon {
    color: #fff; 
    margin-right: 0.625rem; 
  }
  
  .header-search input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0.625rem;
    font-size: 1rem; 
  }
  
  .header-search input[type="text"]::placeholder {
    color: #aaa;
  }
  
  .header-search input[type="text"]:focus {
    outline: none;
  }


  @media (max-width:1050px){
    header{
        padding: 0 1rem;
    }
    .nav-menu li{
        margin-right: 0.5rem;
        font-size: 0.9rem;
    }
    .header-search{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
  }

  @media (max-width:940px){
    .header-search{
        width: 30%;
    }
    .header-logo img{
        height: 1.5rem;
    }
    
    .header-search input[type="text"] {
        font-size: 0.7rem;
    }
  }

  @media (max-width:755px){
    .header-logo img {
        height: 1.2rem;
    }
    .header-search input[type="text"] {
        font-size: 0.6rem;
    }
    .header-search{
        width: 25%;
    }
    .header-search .search-icon {
        margin-right: 0.325rem; 
      }
      
}

  @media (max-width:635px){
    .header-logo img {
        display: none;
    }
    .nav-menu ul li:first-child {
        display: none; /* O primeiro li some */
    }
  }


