/* Container para o login, fixo e centralizado */
.login-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
}

/* Caixa de login com estilo e sombras */
.login-box {
    background-color: rgba(27, 27, 27, 0.85);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    max-width: 25rem;
    width: 100%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/* Estilo da imagem dentro da caixa de login */
.login-box img {
    margin-bottom: 2rem;
}

/* Estilo dos campos de input do formulário */
form input {
    background-color: #333;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

/* Estilo do placeholder dos campos de input */
form input::placeholder {
    color: #8c8c8c;
}

/* Estilo do botão de envio */
.submit-btn {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: bold;
}

/* Estilo do botão de envio ao passar o mouse */
.submit-btn:hover {
    background-color: #f6121d;
}

/* Estilo do texto de alternância */
.toggle {
    color: #8c8c8c;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

/* Estilo do texto de alternância ao passar o mouse */
.toggle:hover {
    text-decoration: underline;
}

/* Estilos responsivos para telas menores */
@media (max-width: 1024px) {
    .login-box {
        padding: 1.5rem;
        width: 80%;
    }
    .login-box img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .login-box {
        padding: 1rem;
    }
}
