.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .back-button svg {
    font-size: 2rem; 
    color: #ffffff; 
  }
  
  .back-button:hover {
    opacity: 0.8; 
  }
  