.movie {
    width: 100%; /* Ajuste conforme necessário */
    height:calc(100VH - 4rem) ; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 4.375rem;
    padding-bottom: 8rem;
    flex: 1;
}

.header-movie-detail{
    margin-bottom: 0;
}

.movie-description{
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
    max-width: 40%;
}

.container-movie-detail{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}