/* Estilo principal para a seção em destaque */
.featured{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 4.375rem;
    padding-bottom: 8rem;
}

/* Nome do filme em destaque */
.featured-name{
    font-size: 3rem;
    font-weight: bold;
}

/* Informações do filme (nota, ano, temporadas) */
.featured-info{
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: bold;
}

/* Estilo para pontos, ano e temporadas do filme */
.featured-points, .featured-year, .featured-seasons{
    display: inline-block;
    margin-right: 1rem;
}

/* Estilo específico para a nota do filme */
.featured-points{
    color: yellow; 
}

/* Descrição do filme */
.featured-description{
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
    max-width: 40%;
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-height: 1.5; 
    max-height: calc(1.5em * 4); 
}

/* Botões na seção em destaque */
.featured-buttons{
    margin-top: 1rem;
}

/* Botão para ver mais */
.featured-watchbutton{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-right: 1.25rem;
    opacity: 1;
    transition: all ease 0.2s;
}

/* Efeito de hover para o botão */
.featured-watchbutton:hover{
    opacity: 0.7;
}

/* Estilo para o botão de ver mais */
.featured-watchbutton{
    background-color: white;
    color: black;
}

/* Gêneros do filme */
.featured-genres{
    margin-top: 0.8rem;
    font-size: 1.125rem;
    color: #999;
}

/* Ajustes para telas menores que 760px */
@media (max-width: 760px){
    .featured{
        height: 90vh;
    }
    .featured-name{
        font-size: 2rem;
    }
    .featured-info{
        font-size: 1rem;
    }
    .featured-description{
        font-size: 0.9rem;
        max-width: 100%;
        margin-right: 2rem;
        -webkit-line-clamp: 3;
    }
    .featured-buttons{
        margin-top: 0.5rem;
    }
    .featured-watchbutton{
        font-size: 0.9rem;
        padding: 0.5rem 0.8rem;
        margin-right: 0.6rem;
    }
    .featured-genres{
        font-size: 0.9rem;
    }
}

/* Ajustes para telas menores que 500px */
@media (max-width:500px){
    .featured-name{
        font-size: 1.5rem;
    }
    .featured-info{
        font-size: 0.9rem;
    }
    .featured-description{
        font-size: 0.8rem;
    }
    .featured-watchbutton{
        font-size: 0.8rem;
    }
    .featured-genres{
        font-size: 0.8rem;
    }
}

/* Ajustes para telas menores que 360px */
@media (max-width: 360px){
    .featured-name{
        font-size: 1.2rem;
    }
    .featured-info{
        font-size: 0.8rem;
    }
    .featured-description{
        font-size: 0.7rem;
    }
    .featured-watchbutton{
        font-size: 0.7rem;
    }
    .featured-genres{
        font-size: 0.7rem;
    }
}
